<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /angular-projects/portfolio/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /angular-projects/portfolio/index.html [L]
</IfModule>