@import '../../../variables.scss';

.skills {
  padding: 40px 40px 0;
  text-align: center;

  &__title {
    margin-bottom: 60px;
    font-weight: 600;
  }

  &__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    justify-content: center;
  }

  .skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    height: 100px;

    @media (max-width: 600px) {
      width: 60px;
      height: 90px;
    }

    img {
      width: 50px;
      height: 50px;
      margin-bottom: 10px;
    }

    span {
      line-height: 1.2;
      text-align: center;
      font-size: 13px;
    }
  }

  &__learning {
    background-image: url('../../../../public/assets/img/skill_shape.svg');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 40px 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    transition: background-image 0.5s ease;

    .learning-title {
      font-size: 1.0rem;
      margin-bottom: 25px;
    }

    .learning-row {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      gap: 20px;
    }

    .learning-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;

      .learning-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 40px;
        }
        
        span {
          margin-top: 8px;
          font-size: 13px;
          text-align: center;
        }
      }
    }

    .learning-text {
      font-size: 1rem;
      line-height: 1.4;
      max-width: 260px;
    }
  }

  &__learning:hover {
    background-image: url('../../../../public/assets/img/skill_shape_hover.svg');
  }
}

.lets_talk_button {
  display: none;
}

@media (max-width: 1100px) {
  .skills__grid {
    grid-template-columns: repeat(4, 95px);
    gap: 15px;
  }
}

@media (max-width: 900px) {
  .skills__grid {
    grid-template-columns: repeat(4, 100px);
  }

  .skills__learning {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-image: none;
    gap: 20px;

    &:hover {
      background-image: none;
    }

    .learning-title {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
      color: $pr-color;
    }

    .learning-row {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;
      width: 100%;
      gap: 20px;
    }

    .learning-text {
      max-width: 240px;
      text-align: left;
    }

    .learning-icons {
      flex-direction: row;
      justify-content: space-evenly;
      height: 140px;
      padding: 0 20px;
      width: auto;
      gap: 10px;
      background-image: url('../../../../public/assets/img/skill_shape.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .lets_talk_button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 134px;
    height: 48px;
    padding: 0;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url('../../../../public/assets/img/lets_talk_filled.svg');
    text-decoration: none;

    span {
      color: $bg-color;
      font-weight: 400;
      font-size: 16px;      
      pointer-events: none;
    }
  }
}

@media (max-width: 600px) {
  .skills__grid {
    grid-template-columns: repeat(3, 90px);
  }

  .learning-title {
    margin-top: 30px;
    font-size: 12px;
  }

  .skills__title {
    margin-top: 0;
  }
}

@media (max-width: 400px) {
  .skills__grid {
    grid-template-columns: repeat(2, 70px);
  }
}
