<section class="skills" id="skills">
  <h2 class="skills__title">{{ 'SKILLS.TITLE' | translate }}</h2>

  <div class="skills__content">
    <div class="skills__grid">
      <div class="skill-item" *ngFor="let skill of skills">
        <img [src]="skill.icon" [alt]="skill.name" />
        <span>{{ skill.name }}</span>
      </div>
    </div>

    <div class="skills__learning">
      <p class="learning-title">{{ 'SKILLS.LEARNING_TITLE' | translate }}</p>

      <div class="learning-icons">
        <div class="learning-item" *ngFor="let skill of learningSkills">
          <img [src]="skill.icon" [alt]="skill.name" />
          <span>{{ skill.name }}</span>
        </div>
      </div>

      <div class="learning-row">
        <p class="learning-text">
          {{ 'SKILLS.LEARNING_TEXT' | translate }}
        </p>
      </div>
    </div>
  </div>  
</section>
