@import '../../../styles.scss';

.why_me {
  padding: 60px 200px 0;
  text-align: left;

  @media (max-width: 900px) {
    text-align: center;
    padding: 40px 20px 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.top_row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  height: auto;

  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.flex_center {
  gap: 20px;
  min-width: 300px;

  @media (max-width: 600px) {
    gap: 0px;
    min-width: 200px;
  }
}

.location_text {
  font-size: 30px;

  .highlight {
    color: $pr-color;
    font-weight: 600;
  }

  @media (max-width: 600px) {
    font-size: 24px;
  }

  @media (max-width: 400px) {
    font-size: 18px;
  }
}

.why_me_text {
  max-width: 500px;
  font-size: 18px;
  line-height: 1.6;
  padding-left: 20px;

    @media (min-width: 1400px) {
    max-width: 600px;
    font-size: 19px;
  }
}

.lets_talk_button {
  width: 150px;
  height: 55px;
  padding: 0;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  align-self: flex-end;
  background-image: url('../../../../public/assets/img/lets_talk.svg');

    display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  span {
    color: $pr-color;
    font-weight: 400;
    font-size: 18px;
    pointer-events: none;
  }

  @media (max-width: 900px) {
    display: none;
  }
}

.lets_talk_button:hover {
  background-image: url('../../../../public/assets/img/lets_talk_hover.svg');
}
