@import '../../../styles.scss';

.flex_center {
  height: calc(100vh - 100px);
  align-items: unset;
}

.image_wrapper {
  display: flex;
  align-items: flex-end;
}

.portrait {
  width: 700px;
  height: 720px;
  background-image: url('../../../../public/assets/img/shape.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: background-image 0.5s ease;
}

.portrait:hover {
  background-image: url('../../../../public/assets/img/shape_hover.svg');
}

.flex_column {
  display: flex;
  justify-content: center;
}

.undertitle {
  font-size: 40px;
  margin-bottom: 80px;
}

.logo_img {
  height: 90px;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-left: 30px;
}

.logo_and_buttons {
  width: 100%;
  display: flex;
  margin-bottom: 40px;
}

.social_media_buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.social_media_buttons button {
  margin-bottom: 10px;
  padding: 0;
}

.icon {
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}

.git {
  background-image: url('../../../../public/assets/img/soc_med_git.svg');
}
.git:hover {
  background-image: url('../../../../public/assets/img/soc_med_git_hover.svg');
}

.linked {
  background-image: url('../../../../public/assets/img/soc_med_linked.svg');
}
.linked:hover {
  background-image: url('../../../../public/assets/img/soc_med_linked_hover.svg');
}

.mail {
  background-image: url('../../../../public/assets/img/soc_med_mail.svg');
}
.mail:hover {
  background-image: url('../../../../public/assets/img/soc_med_mail_hover.svg');
}

.arrow {
  background-image: url('../../../../public/assets/img/arrow_down.svg');
  width: 40px;
  height: 90px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image 0.4s;
}

.arrow:hover {
  background-image: url('../../../../public/assets/img/arrow_down_hover.svg');
}

@media (max-width: 1400px) {
  h1 {
    font-size: 64px;
  }

  .undertitle {
    font-size: 36px;
    margin-bottom: 60px;
  }
}

@media (max-width: 1200px) {
  .portrait {
    width: 500px;
    height: 520px;
  }

  .undertitle {
    font-size: 28px;
    margin-bottom: 60px;
  }

  h1 {
    font-size: 48px;
  }
}

@media (max-width: 900px) {
  
  .flex_center {
    flex-direction: column;
    height: auto;
    padding-bottom: 0;
    align-items: center;
  }

  .portrait {
    width: 400px;
    height: 420px;
    margin-bottom: 40px;
  }

  .logo_and_buttons {
    flex-direction: column;
    align-items: center;
  }

  .social_media_buttons {
    flex-direction: row;
    margin-top: 20px;
  }

  .social_media_buttons button {
    margin: 0 10px;
  }

  .logo {
    display: none;
  }
}

@media (max-width: 600px) {
  .portrait {
    width: 300px;
    height: 320px;
    margin-bottom: 40px;
  }

  .arrow {
    width: 30px;
    height: 75px;
  }

  .undertitle {
    font-size: 20px;
    margin-bottom: 30px;
  }

  h1 {
    font-size: 36px;
  }
}
