<section class="projects widescreen" id="projects">
  <h2 class="title">{{ 'PROJECTS.TITLE' | translate }}</h2>

  <div class="tabs">
    <button
      *ngFor="let tab of tabs; let i = index"
      (click)="selectTab(i)"
      [class.active]="selectedTab === i"
    >
      {{ tab }}
    </button>
  </div>

  @for (tab of [selectedTab]; track tab) {
    <div class="content-wrapper" animate.enter="fadeIn">
      <ul class="content">
        <li class="section">
          <h4>
            {{ 'PROJECTS.ABOUT_LABEL' | translate }}
            <span>{{ 'PROJECTS.DURATION_LABEL' | translate }}: {{ projectData[selectedTab].durationKey | translate }}</span>
          </h4>
          <p class="text">{{ projectData[selectedTab].aboutKey | translate }}</p>
        </li>

        <li class="section">
          <h4>{{ 'PROJECTS.WORK_PROCESS_LABEL' | translate }}</h4>
          <p>{{ projectData[selectedTab].workProcessKey | translate }}</p>
        </li>

        <li class="section">
          <h4>{{ 'PROJECTS.GROUP_LABEL' | translate }}</h4>
          <p>{{ projectData[selectedTab].groupKey | translate }}</p>
        </li>
      </ul>

      <div class="image-wrapper">
        <div class="technologies">
          <p>{{ 'PROJECTS.TECHNOLOGIES_LABEL' | translate }}</p>
          <div class="tech-icons">
            <img
              *ngFor="let tech of projectData[selectedTab].technologies"
              [src]="tech.icon"
              [alt]="tech.name"
            />
          </div>
        </div>
        <div class="image-area">
          <img            
              [src]="projectData[selectedTab].image"
              [alt]="projectData[selectedTab].title + ' Screenshot'"
            />
        </div>

        <div class="buttons">
          <a [href]="projectData[selectedTab].live" target="_blank" class="btn">{{ 'PROJECTS.LIVE_TEST' | translate }}</a>
          <a [href]="projectData[selectedTab].github" target="_blank" class="btn">GitHub</a>
        </div>
      </div>
    </div>
  }
</section>