$bg-color: #0a383f;
$pr-color: #f9cb71;
$pr-color2: rgba(249, 203, 113, 0.07);
$se-color: #ffffff;
$font-color: #f8f5ec;
$nav-font-color: #262e34;
$in-color: #262e3423;
$er-color: #e44c36;
$do-color: #97e163;
