@import 'variables';

@font-face {
  font-family: 'josefin';
  src: url('../public/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'anta';
  src: url('../public/fonts/Anta/Anta-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-landing-page,
app-legal-notice,
app-privacy-policy {
  display: block;
  flex: 1;
}

body {
  background-color: $bg-color;
  color: $font-color;
  margin: 0;
  font-family: 'josefin', sans-serif;
  height: 100%;
}

h1 {
  font-family: 'anta';
  font-size: 88px;
  margin: 0;
}

h2 {
  font-family: 'anta';
  color: $pr-color;
  font-size: 60px;
  text-align: center;
  padding-bottom: 30px;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  cursor: pointer;
}

.flex_center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex_column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

app-nav-bar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
}

@media (max-width: 900px) {

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }
}