$bg-color: #0a383f;
$pr-color: #f9cb71;
$pr-color2: rgba(249, 203, 113, 0.07);
$se-color: #ffffff;
$font-color: #f8f5ec;
$nav-font-color: #262e34;
$in-color: #262e3423;
$er-color: #e44c36;
$do-color: #97e163;

@font-face {
  font-family: 'josefin';
  src: url('../public/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'anta';
  src: url('../public/fonts/Anta/Anta-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: $bg-color;
  color: $font-color;
  margin: 0;
  padding-top: 100px;
  font-family: 'josefin', sans-serif;
}

h1 {
  font-family: 'anta';
  font-size: 88px;
  margin: 0;
}

h2 {
  font-family: 'anta';
  color: $pr-color;
  font-size: 60px;
  text-align: center;
  padding-bottom: 30px;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  cursor: pointer;
}

.flex_center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex_column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

app-nav-bar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

@media (max-width: 900px) {
  body {
    padding-top: 70px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }
}