$bg-color: #0A383F;
$pr-color: #F9CB71;
$se-color:#FFFFFF;
$font-color: #F8F5EC;
$nav-font-color: #262E34;
$in-color: #262e3423;
$er-color: #E44C36;
$do-color: #97E163;

@font-face {
    font-family: 'josefin';
    src: url('../public/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'anta';
    src: url('../public/fonts/Anta/Anta-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
  background-color: $bg-color;
  color: $font-color;
  margin: 0;
  padding-top: 100px;
  font-family: 'josefin', sans-serif;
}

h1 {
    font-family: 'anta';
    font-size: 88px;
    margin: 0;
}

h2 {
    font-family: 'anta';
    color: $pr-color;
    font-size: 60px;
    text-align: center;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  cursor: pointer;
}

.flex_center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex_column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

app-nav-bar {
  position: sticky;
  top: 0;
  z-index: 1000;
}